html, body { height: 100%; width: 100%; margin: 0; }

.wlcmContainer {
  background-position: center; 
  background-image: url(Imgs/welcome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40%;
}

.specContainer {
  background-position: center; 
  background-image: url(Imgs/specials04juice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40%;
}


.specImg {
  width: 7em;
}