* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #38C1AD;
}

/*nav styles-------------------------------------------------*/
.navbar {
  background-color: black;
}

.collapse {
  margin: 0em -1em -1em -1em;
}

.navbar-nav li a {
  color: #38C1AD;
  font-size: 1.5em;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  top: .5em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*styles Welcome*/
.jumboTron {
  background-position: center;
  background-image: url(Imgs/welcome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
}

/*Save section-------------------------------------*/
/* .specImg {
  position: absolute;
  left: 2em;
  margin: 0em 0em 0em 11em;
  width: 45%;
} */
.specBG {
  background-color: #38C1AD;
  width: 100%;
  height: 20em;
  margin-top: 0em;
}

.specBG h1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 4.5em;
  font-weight: 510;
  top: .30em;
  color: #03725D;
}

.card {
  vertical-align: top;
  width: 10em;
  display: inline-block;
  margin: 0.5em;
  border-radius: 4px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.card:hover, .card.hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-img .overlay, .card.hover .card-img .overlay {
  background-color: rgba(251, 223, 210, 0.7);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 1;
}

.card-img {
  position: relative;
  height: 224px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.card-img .overlay .overlay-content {
  line-height: 224px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.card-img .overlay .overlay-content a {
  color: #03725D;
  padding: 0 2rem;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}

.card-content {
  width: 100%;
  min-height: 104px;
  background-color: transparent;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0.5rem 0.5rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.card-content a {
  text-decoration: none;
  color: #FFF5F0;
}

.card-content h2, .card-content a h2 {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0em;
  margin-top: -.25em;
}

.card-content p, .card-content a p {
  margin-bottom: 0em;
  color: #FFF5F0;
  font-size: 1.5em;
}

.card-content .oldPrice {
  float: left;
  margin-left: .50em;
  margin-top: -.35em;
}

.card-content .price {
  float: right;
  font-weight: 700;
  margin-right: .50em;
  margin-top: -.35em;
}

.card-content .cart {
  text-align: center;
  clear: both;
}

/* Community Styles -------------------------------------------------*/
/* .communityImg {
  width: 90%;
}

.communityTitle {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em 0em -.1em .09em;
  font-size: 4.3em;
}

.communityDiv {
  background-color: indigo;
  width: 40%;
  height: 16em;
  position: absolute;
  margin: 2em 0em 0em 1em;
}

.communityDiv p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.08em;
  line-height: 1.2em;
  color: white;
  text-align: left;
  margin: .5em 1em 1em .5em;
} */
/*# sourceMappingURL=indexStyles.css.map */